body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 20px;
}

header h1 {
    color: #ff9800;
    text-align: center;
}

.search-box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #333;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    background: #333;
    border: none;
    color: white;
    border-radius: 8px;
    box-sizing: border-box; /* عشان الـ padding ميبوظش العرض */
}

button {
    width: 100%;
    padding: 15px;
    background: #ff9800;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
